<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.spinlog.dev.MemberMapper">
    <select id="findByName" resultType="Member">
        select member_id as id, name
        from members
        where name = #{name}
    </select>
</mapper>